name: MacOs SSH

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Installing Dependencies
        run: |
          brew install openssh
          pip install bs4 requests

      - name: Setup SSH Server
        env:
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          sudo mkdir -p /opt/ssh
          cd /opt/ssh

          sudo ssh-keygen -A
          sudo sysadminctl -addUser runneradmin -fullName "SSH User" -password "$PASSWORD" || true

          cat <<EOF | sudo tee /opt/ssh/sshd_config
          Port 22
          ListenAddress 127.0.0.1
          PasswordAuthentication yes
          PermitRootLogin yes
          PermitEmptyPasswords no
          ChallengeResponseAuthentication no
          UsePAM no
          Subsystem sftp /usr/libexec/sftp-server
          GatewayPorts yes
          EOF

          sudo /usr/sbin/sshd -f /opt/ssh/sshd_config -D &
          sleep 2

      - name: Run Python Script
        env:
          PASSWORD: ${{ secrets.PASSWORD }}
          DB_ADMIN_URL: ${{ secrets.DB_ADMIN_URL }}
        run: |
          python main.py "macos-ssh-server:22" 22
